.header-image{
    width: 100%;
    height: 87vh;
    z-index: 2;
}
.relative{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(241, 241, 241, 0.253);
    width: 100%;
    height: 87vh;
    color: rgb(255, 255, 255);
    text-align: right;
}
.header-title{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.479);
    top: 30%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 30vw;
    padding: 10px;
}
.overlay .btn{
    padding: 5px 10px;
    color:#fff ;
    background-color: orange;
    font-size: 18px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s ease-in;
}
.overlay .btn:hover{
    background-color: #fcfcfc;
    color: orange;
}

@media screen and (max-width:760px){
    .header-title{
        position: absolute;
        width: 50%;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .header-title h1{
        font-size: 1.5rem;
    }
    .header-title h4{
        font-size: 1rem;
    }
    .header-title a.btn{
        font-size: 12px;
    }
}