@import url(css/_contact.css);
@import url(css/_navBar.css);
@import url(css/_hero-header.css);
@import url(css/_course.css);
@import url(css/_about-us.css);
@import url(css/_teacher.css);
@import url(css/_topic.css);
@import url(css/_statistics.css);
@import url(css/_faq.css);
@import url(css/_footer.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.padding-0{
    padding: 0 !important;
}
.over-hidden{
    overflow: hidden;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.img-responsive{
    width: 100%;
    height: 100%;
    display: block;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-150{
    margin-bottom: 150px;
}
.mb-70{
    margin-bottom: 70px;
}
.mt-150{
    margin-top: 150px;
}
.text-center{
    text-align: center;
}
.arrow-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url(img/up-arrow.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s ease;
}